* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at 30% 20%, #3b1c47, #1a2a4f, #0d1224);
    position: relative;
}

.bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    background: url(../images/bg.png) 50% 50% no-repeat;
    background-size: cover;
    z-index: -2;
    opacity: 0.2;
    animation: float 10s linear infinite;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-55%, -55%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

ul li {
    padding: 10px 40px;
    border-right: 1px solid #fff;
}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-transform: uppercase;
    font-size: 3em;
    color: #fff;
    position: relative;
}

ul li:hover a {
    color: #d54040;
}

ul li a::before {
    content: "►"; /* alt + 16 */
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 15px;
    opacity: 0;
    transition: 0.6s;
}

ul li a::after {
    content: "◄"; /* alt + 17 */
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 15px;
    opacity: 0;
    transition: 0.6s;
}

ul li:hover a::before {
    left: -25px;
    opacity: 1;
    transform: rotateY(360deg);
}

ul li:hover a::after {
    right: -25px;
    opacity: 1;
    transform: rotateY(-360deg);
}

#bg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}
