* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

ul li {
    padding: 10px 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
    position: relative;
}

ul li:hover a {
    color: #f00;
}

ul li a::before {
    content: "►"; /* alt + 16 */
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 7px;
    opacity: 0;
    transition: 0.6s;
}

ul li a::after {
    content: "◄"; /* alt + 17 */
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 7px;
    opacity: 0;
    transition: 0.6s;
}

ul li:hover a::before {
    left: -25px;
    opacity: 1;
    transform: rotateY(360deg);
}

ul li:hover a::after {
    right: -25px;
    opacity: 1;
    transform: rotateY(-360deg);
}
